* {
    box-sizing: border-box;
}

.blog-container {
    cursor: pointer;
    background: white;
    margin: 20px 0;
    padding: 2px 20px;
    border-bottom: 1px solid lightslategray;
    border-right: 2px solid lightgray;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-radius: 0 20px 0 0;
}

.creator-name {
    font-family: 'Times New Roman', Times, serif;
}

.link {
    color: black;
    text-decoration: none;
}